#map {height: 100%; }
body {margin:0; height: 100%;}
body>div { height: 100%}
html {height: 100%;}
img {
    width: 400px;
    display: block;
}

img.leaflet-marker-icon {
    width: 25px !important;
    height: 25px !important;
}

#toolbar { 
    margin: 0px;
    padding: 0px;
    /*
    border: solid grey 3px;
    */
    position: absolute;
    z-index: 20;
    top: 200px;
    right: 15px;
    list-style: none;
}

#toolbar img {
    background-color: lightgrey;
    border: solid white 1pt ;
    width: 26px;
    height: 26px;
}
#toolbar li:hover img {
    background-color: white !important;
}
img.shade {
    background-color: darkgrey !important;
    border: solid black 1pt !important;
}
